.container {
    padding-top: 15vh;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #2c3e50;
  border-radius: 2px;
}

.star {
  color: #2c3e50;
  font-size: 24px;
  margin: 0 15px;
}

.imageCard {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.imageCard img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.imageCard:hover .overlay {
  opacity: .9;
  background-color: #1abc9c;
}

.plus {
  font-size: 10rem;
  color: white;
  pointer-events: none;
}

/* ===== Lightbox ===== */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 110, 253,.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
}

.lightboxImg {
  max-width: 60%;
  max-height: 60%;
}
